---
---
<section class="experiencie">
  <h2 id="title-experiencie">Experiencia</h2>
  <p class="parraf-experiencie">
    <strong class="pink">Aunque no tengo experiencia laboral formal,</strong> llevo bastante tiempo <em class="green">inmerso en el mundo del desarrollo fullstack como hobby</em> y he realizado varios proyectos por entretenimiento y aprendizaje. Este proceso comenzó en <em class="green">2022</em>, y actualmente estoy <em class="green">buscando profesionalizarlo.</em>
  </p>
</section>


<style>
  .experiencie{
    margin-top: 20vh;
  }
  #title-experiencie{
    font-size: 1.7rem;
    font-weight:600;
    margin-bottom: 0.5vh;
  }
  .parraf-experiencie{

  }
</style>