---
  import '../../styles/reset.css';
  import '../../styles/variables.css';
import HeaderLink from '../atoms/HeaderLink.astro';
---

<link href="https://api.fontshare.com/v2/css?f[]=clash-display@700,600,500,400&display=swap" rel="stylesheet">

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Carlos Olcina - Portfolio</title>
	</head>
	<body>
		<header>
			<p>Carlos Olcina</p>
			<nav>
				<ul>
					<li>
            <HeaderLink href="#about-me">Inicio</HeaderLink>
          </li>
          <li>
            <HeaderLink href="#projects">Proyectos</HeaderLink>
          </li>
          <li>
            <HeaderLink href="#contact">Contacto</HeaderLink>
          </li>
				</ul>
			</nav>
		</header>

    <main>
      <slot></slot>
    </main>
	</body>
</html>

<style is:global>
  body {
    font-family: 'Clash Display', sans-serif;
  }

  *{
    color: var(--neutral-950);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    backdrop-filter: blur(10px);
  }

  p {
    font-size: 1.5rem;
    font-weight: 600;
  }

  nav ul {
    display: flex;
    gap: 3rem;
  }
</style>