---
  import '../../styles/reset.css';
  import '../../styles/variables.css';
  import Header from '../organisms/Header.astro';
---

<link href="https://api.fontshare.com/v2/css?f[]=clash-display@700,600,500,400&display=swap" rel="stylesheet">

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Carlos Olcina - Portfolio</title>
	</head>
	<body>
		<Header></Header>
    
    <main>
      <slot></slot>
    </main>
	</body>
</html>

<style is:global>
  body {
    font-family: 'Clash Display', sans-serif;
  }

  *{
    color: var(--neutral-950);
  }
</style>