---
import Layout from '../layouts/Layout.astro';
import Header from '../components/features/Header.astro';
import Hero from '../components/features/Hero.astro';
import ProjectsGrid from '../components/features/ProjectsGrid.astro';
import ContactFooter from '../components/features/ContactFooter.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<ProjectsGrid />
		<ContactFooter />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 0;
	}
</style>
