---
import { House, Mail } from "@lucide/astro";

import Layout from "../components/layouts/Layout.astro";
import Title1 from "../components/atoms/Title1.astro";
import Paragraph from "../components/atoms/Paragraph.astro";
import heroSectionText from "../data/heroSectionTexts";
import Button from "../components/atoms/Button.astro";
import Gradient from "../components/atoms/Gradient.astro";
import Instagram from "../icons/Instagram.astro";
import Twitter from "../icons/Twitter.astro";

const titleTexts = [
  {
    text: heroSectionText["title-line-1"],
    highlight: heroSectionText["title-line-1-highlight"],
  },
  {
    text: heroSectionText["title-line-2"],
    highlight: heroSectionText["title-line-2-highlight"],
  }
]
---

<Layout>
  <div class="gradient-wrap">
    <section>
      <div class="grid-wrapper">
        <div class="title">
          <Title1 texts={titleTexts}></Title1>
        </div>
        
        <div class="icons-wrapper">
          <Instagram size='2rem'/>
          <Twitter size='2rem'/>
          <Mail size='2rem'/>
          <div class="line"></div>
        </div>

        <div style="width: 60%;">
          <Paragraph text={heroSectionText["subtitle"]}></Paragraph>
        </div>
        
    
        <div style="width: fit-content; align-self: end;">
          <Button text={heroSectionText["contact-button"]} Icon={Mail} size="large"/>
        </div>
      </div>
    </section>
    <Gradient></Gradient>
  </div>
  
</Layout>

<style>
  .blur-wrap {
    position: relative;
    overflow: hidden;
  }
  
  section {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 6rem 10rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    backdrop-filter: blur(100px);
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem 10rem;
  }

  .title {
    grid-column: 1 / -1;
  }
  
  .icons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    grid-row: 2 / 4;
    width: fit-content;
  }
  
  .icons-wrapper *{
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
  }

  .icons-wrapper *:hover {
    transform: rotate(0deg);
  }

  .line{
    width: 3px;
    height: 2rem;
    background-color: var(--neutral-950);
    transform: rotate(180deg) !important;
  }
</style>
