---
---
<section class="for-me">
  <h2 id="title-for-me">Sobre mí</h2>
  <p class="parraf-for-me">
    <em class="green">Desde pequeño, siempre me ha fascinado el mundo de la informática.</em> Descubrí el desarrollo web gracias a un familiar que, en aquel momento, estaba estudiando Python, lo cual me motivó a explorar este campo por mi cuenta. <em class="green">Mi interés actual se centra en realizar trabajos freelance mientras completo mi formación oficial,</em> con el objetivo de incorporarme al mercado laboral, aunque no descarto la posibilidad de continuar como freelance. <br>
    <strong class="pink">Soy una persona ambiciosa y perfeccionista en lo que hago; siempre busco mejorar, y creo que una página web nunca está completamente perfecta.</strong>
  </p>
</section>


<style>
  .for-me{
    margin-top: 50vh;
  }
  #title-for-me{
    font-size: 1.7rem;
    font-weight:600;
    margin-bottom: 0.5vh;
  }
  .parraf-for-me{

  }
</style>