---
  import { Icon as IconType } from "@lucide/astro";

  interface Props {
    text: string;
    Icon?: typeof IconType;
    size?: 'small' | 'medium' | 'large';
  }

  const {text, Icon, size = 'medium'} = Astro.props;
---

<button class={size}>
  {Icon && <Icon size={size === 'small' ? '1rem' : size === 'large' ? '2rem' : '1.5rem'}/>}
  {text}
</button>

<style>
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: 1px solid var(--neutral-950);
    border-radius: 5rem;

    font-weight: 500;
  }

  .large {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .medium {
    padding: 0.75rem 1.5rem;
    font-size: 1.3rem;
  }

  .small {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
</style>
