---
---
<div class="gradient">
  <svg width="100vw" height="auto" viewBox="0 0 1280 646" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M-76 0L681.951 237.364L1426.7 336.224L1453.9 645.817L695.36 393.554L-48.8057 309.593L-76 0Z" fill="url(#paint0_linear_54639_3)"/>
    <defs>
    <linearGradient id="paint0_linear_54639_3" x1="-57.0282" y1="362.003" x2="1434.92" y2="283.813" gradientUnits="userSpaceOnUse">
    <stop stop-color="#00C3D0"/>
    <stop offset="1" stop-color="#34C759"/>
    </linearGradient>
    </defs>
  </svg>
</div>

<style>
 .gradient {
    position: absolute;
    top: 1%;
    left: 0rem;
    z-index: -1;
  } 
</style>