---
---
<footer>
  <p class="content-of-footer">
    Gran mayoria de iconos son sacados de <a href="https://icons8.com/icons" class="metion-footer">8icons</a> 
    <br/>
    Algunos otros iconos como el de cmd estan protegidos bajo la licencia MIT
  </p> 
</footer>

<style>
  footer{
    display: flex;
    padding: 3vh;
    justify-content: center;
    align-content: center;
    background-color: rgb(38, 38, 38, 0.2);
  }
  .content-of-footer{
    text-align: center;
    /* opacity: 1.0 !important; */
  }
  .metion-footer{
    color: #98FF98;
    text-decoration: none;
  }
</style>